footer .footer__icon {
  color: #fff;
  transition: all 0.6s;
}
footer .footer__icon:hover {
  transform: translateY(-6px);
}
footer .footer__text {
  font-size: 1.1rem;
}
footer .footer__text .jere {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
footer .footer__text .jere:hover {
  color: #858585;
}
